<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaeehttp://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

<servlet>
	<servlet-name>sample</servlet-name>
	<servlet-class>Sample</servlet-class>
</servlet>

<servlet>
	<servlet-name>visit.sample</servlet-name>
	<servlet-class>visit.Sample</servlet-class>
</servlet>

<servlet>
	<servlet-name>reset.sample</servlet-name>
	<servlet-class>reset.Sample</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>sample</servlet-name>
	<url-pattern>/sample</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>visit.sample</servlet-name>
	<url-pattern>/visit/sample</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>reset.sample</servlet-name>
	<url-pattern>/reset/sample</url-pattern>
</servlet-mapping>

</web-app>